* {
    margin: 0;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

body {
    background-image: url(img/montains.avif);
}

.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
}

.left-login h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vw;
    width: 50vh;
}

.right-login h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 75px;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(6px);
    border-radius: 6px;
}

.textfield {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.textfield input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.btn-login {
    color: black;
    border: none;
    border-radius: 5px;
    height: 28px;
    width: 120%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forget {
    font-size: 15px;
    color: #fff;
}

.btn-register {
    color: black;
    width: 120%;
    height: 28px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
